Repository googleapis/nodejs-bigquery, pull requests merged in 2021-01, with the labels that each got.

#912 docs(samples): Update AVRO table load samples and tests
  samples/loadCSVFromGCSTruncate.js
  samples/loadJSONFromGCSTruncate.js
  samples/loadOrcFromGCSTruncate.js
  samples/loadParquetFromGCSTruncate.js
  samples/loadTableGCSAvro.js
  samples/loadTableGCSAvroTruncate.js
  samples/test/tables.test.js
Labels: api: bigquery, cla: yes, samples

#909 types: improve type of getQueryResult response
  src/bigquery.ts
Labels: api: bigquery, cla: yes

#917 refactor(nodejs): move build cop to flakybot
  .kokoro/samples-test.sh
  .kokoro/system-test.sh
  .kokoro/test.sh
  .kokoro/trampoline_v2.sh
  synth.metadata
Labels: api: bigquery, automerge, cla: yes, context: full

#913 chore: update type exports
  src/index.ts
Labels: api: bigquery, cla: yes
