Repository googleapis/nodejs-bigquery, pull requests merged in 2021-09, with the labels that each got.

#998 docs: update links for job resources
  src/bigquery.ts
Labels: cla: yes, api: bigquery, owlbot:ignore

#989 docs(samples): add table clustering and column-level security samples
  samples/createTableClustered.js
  samples/createTableColumnACL.js
  samples/loadTableClustered.js
  samples/package.json
  samples/queryClusteredTable.js
  samples/removeTableClustering.js
  samples/test/queries.test.js
  samples/test/tables.test.js
  samples/updateTableColumnACL.js
Labels: cla: yes, api: bigquery, samples, owlbot:ignore

#992 docs(samples): add sample for loading Firestore backup
  samples/loadTableURIFirestore.js
  samples/test/tables.test.js
Labels: cla: yes, api: bigquery, samples, owlbot:ignore

#1003 fix: return 409 error in createJob() for dry run
  src/bigquery.ts
  test/bigquery.ts
Labels: cla: yes, api: bigquery, owlbot:ignore

#1017 chore: relocate owl bot post processor
  .github/.OwlBot.lock.yaml
  .github/.OwlBot.yaml
Labels: cla: yes, automerge, api: bigquery
