Repository googleapis/nodejs-bigquery, pull requests merged in 2021-11, with the labels that each got.

#1036 docs(samples): add query external GCS temp table
  samples/queryExternalGCSTemp.js
  samples/test/queries.test.js
Labels: cla: yes, api: bigquery, samples, owlbot:ignore

#1035 chore(cloud-rad): fix links for TSDocs
  README.md
  samples/README.md
  src/bigquery.ts
  src/dataset.ts
  src/table.ts
  src/types.d.ts
Labels: cla: yes, automerge, api: bigquery

#1034 chore(cloud-rad): Add code fencing and fix link format
  src/bigquery.ts
  src/dataset.ts
  src/job.ts
  src/model.ts
  src/routine.ts
  src/table.ts
Labels: cla: yes, automerge, api: bigquery

#1040 fix(cloud-rad): move comments for TSDoc
  src/bigquery.ts
  src/dataset.ts
  src/job.ts
  src/model.ts
  src/table.ts
Labels: cla: yes, api: bigquery

#1042 tests(samples): increase models samples test timeout
  samples/test/models.test.js
Labels: cla: yes, api: bigquery, samples
