Repository googleapis/nodejs-bigquery, pull requests merged in 2021-12, with the labels that each got.

#1047 docs: change properties with function value to methods
  src/bigquery.ts
  src/dataset.ts
  src/job.ts
  src/model.ts
  src/routine.ts
  src/table.ts
Labels: cla: yes, api: bigquery

#1048 chore: update types from Discovery
  src/types.d.ts
Labels: api: bigquery

#1045 fix: refactor to extract options from query
  src/bigquery.ts
  test/bigquery.ts
Labels: cla: yes, api: bigquery

#1055 chore: add api_shortname and library_type to repo metadata
  .repo-metadata.json
  README.md
Labels: automerge, api: bigquery
