Repository googleapis/nodejs-bigquery, pull requests merged in 2022-07, with the labels that each got.

#1108 docs(samples): adds tableExists
  samples/tableExists.js
  samples/test/tables.test.js
Labels: api: bigquery, samples, owlbot:ignore, size: m

#1105 types: add file[] to load() and createLoadJob() as valid source parameter
  src/table.ts
Labels: api: bigquery, size: s

#1141 fix: adding missing links to bug_report template
  .github/ISSUE_TEMPLATE/bug_report.md
  owlbot.py
Labels: api: bigquery, owlbot:ignore, size: s
