Repository googleapis/nodejs-bigquery, pull requests merged in 2023-08, with the labels that each got.

#1229 feat: support and optionally parse JSON field
  samples/insertingDataTypes.js
  src/bigquery.ts
  src/job.ts
  src/table.ts
  test/bigquery.ts
  test/job.ts
  test/table.ts
Labels: api: bigquery, size: l

#1230 feat: support create/list datasets on a different project
  samples/listDatasets.js
  samples/test/datasets.test.js
  src/bigquery.ts
  src/dataset.ts
  test/bigquery.ts
  test/dataset.ts
Labels: api: bigquery, size: m

#1242 fix: update @types/big.js
  package.json
  src/bigquery.ts
  src/table.ts
  system-test/bigquery.ts
  test/bigquery.ts
  test/table.ts
Labels: api: bigquery, size: s

#1258 feat: partial metadata projection
  src/table.ts
  system-test/bigquery.ts
Labels: api: bigquery, size: s

#1262 fix: manual update for renovate-bot google cloud storage v7
  package.json
  samples/authViewTutorial.js
  samples/package.json
  system-test/bigquery.ts
Labels: api: bigquery, size: s
