Repository googleapis/nodejs-bigquery, pull requests merged in 2023-03, with the labels that each got.

#1193 fix: client endpoint sample error msg
  samples/test/datasets.test.js
Labels: api: bigquery, samples, size: xs

#1192 feat: add support for microseconds precision
  package.json
  src/bigquery.ts
  test/bigquery.ts
Labels: automerge, api: bigquery, size: m

#1191 fix: pass Query.wrapIntegers to job.getQueryResults
  src/bigquery.ts
  test/bigquery.ts
Labels: automerge, api: bigquery, size: s

#1197 chore: remove autoassignment
  .github/blunderbuss.yml
Labels: automerge, api: bigquery, size: xs
