Repository googleapis/nodejs-bigquery, pull requests merged in 2025-09, with the labels that each got.

#1534 chore: update list samples to use *Async method
  samples/datasets/listDatasets.js
  samples/models/listModels.js
  samples/routines/listRoutines.js
  samples/tables/listTables.js
  samples/test/datasets.test.js
Labels: api: bigquery, samples, size: m

#1533 feat: simplify client instantiation
  samples/models/updateModel.js
  samples/test/models.test.js
  scripts/gen_uber_class.ts
  src/bigquery.ts
  test/bigquery_test.ts
Labels: api: bigquery, size: m

#1530 feat: run samples tests in grpc and rest
  .github/.Owlbot.lock.yaml
  samples/datasets/createDataset.js
  samples/datasets/deleteDataset.js
  samples/datasets/getDataset.js
  samples/datasets/listDatasets.js
  samples/datasets/updateDataset.js
  samples/jobs/cancelJob.js
  samples/jobs/createJob.js
  samples/jobs/getJob.js
  samples/jobs/listJobs.js
  samples/models/createModel.js
  samples/models/deleteModel.js
  samples/models/getModel.js
  samples/models/listModels.js
  samples/models/listModelsStreaming.js
  samples/models/updateModel.js
  samples/package.json
  samples/routines/createRoutine.js
  samples/routines/deleteRoutine.js
  samples/routines/getRoutine.js
  samples/routines/listRoutines.js
  samples/routines/updateRoutine.js
  samples/tables/createTable.js
  samples/tables/deleteTable.js
  samples/tables/getTable.js
  samples/tables/listTables.js
  samples/tables/updateTable.js
  samples/test/datasets.test.js
  samples/test/jobs.test.js
  samples/test/models.test.js
  samples/test/routines.test.js
  samples/test/tables.test.js
Labels: api: bigquery, samples, size: xl

#1549 feat: add release please config
  .github/release-please.yml
Labels: api: bigquery, size: xs
