Repository googleapis/nodejs-bigquery, pull requests merged in 2025-08, with the labels that each got.

#1513 ci: handle new formatOptions.timestampOutputFormat
  scripts/gen-types.js
  src/types.d.ts
Labels: api: bigquery, size: m

#1521 chore: Models samples
  samples/models/createModel.js
  samples/models/deleteModel.js
  samples/models/getModel.js
  samples/models/listModels.js
  samples/models/listModelsStreaming.js
  samples/models/updateModel.js
  samples/test/datasets.test.js
  samples/test/models.test.js
  samples/test/routines.test.js
  samples/test/tables.test.js
Labels: api: bigquery, samples, size: l

#1523 chore: periodic regen
  .github/workflows/ci.yaml
  .github/workflows/issues-no-repro.yaml
  .github/workflows/response.yaml
Labels: api: bigquery, size: s

#1524 chore: add Jobs samples, add backoff to table update sample
  samples/jobs/cancelJob.js
  samples/jobs/createJob.js
  samples/jobs/getJob.js
  samples/jobs/listJobs.js
  samples/models/listModelsStreaming.js
  samples/test/jobs.test.js
  samples/test/tables.test.js
Labels: api: bigquery, samples, size: l
